# Binaries
bin/
/xru

# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# OS files
.DS_Store
Thumbs.db

# Go
vendor/
go.sum

# Private scripts
private/

# VS Code extension artifacts
*.vsix

# Temporary sandbox
sandbox/
